.text-gradient {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-box {
  position: relative;
}

.video-box img {
  border: 5px solid #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-box:hover img {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.video-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-box:hover .video-overlay {
  opacity: 1;
}

/*  */

.hero-text {
  color: #ffffff !important;
}

.skill .progress-bar {
  transition: width 0.4s ease-in-out;
}

.skill:hover .progress-bar {
  width: calc(var(--value) + 10%);
  opacity: 0.9;
}

.nav-pills .nav-link.active {
  background: #007bff !important;
  color: #fff !important;
}

.nav-pills .nav-link:hover {
  background: #0056b3;
  color: #fff;
}

.progress-bar {
  width: 100% !important;
}
